.arrival_img {
    max-width: 262px;
    max-height: 349px;
}

.arrival_section {
    display: flex;
    gap: 24px;
}


.arrival_article_bar {
    display: flex;
    justify-content: space-between;
}

.article_more_section {
    display: flex;
    gap: 5px;
}

.arrival_show_bar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0 80px 0;
}

.arrival_discount {
    max-height: 349px;
    height: 100%;    
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.discount_bar {
    z-index: 1;
    position: absolute;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.discount_text {
    padding: 4px 14px;
    background: #ffff;
    border-radius: 4px;
}

.discount_percent {
    padding: 4px 14px;
    background: #38CB89;
    border-radius: 4px;
    color: white;
}

.discount_btn {
    position: absolute;
    z-index: 1;   
    display: flex;
    justify-content: center;
    top: 80%;
    width: 100%;
}

 .cart_btn {
    border-radius: 8px;
    background-color: black;
    color: white;
    Padding: 8px 70px;
  
     
}
 

/* hover effect section */

.discount_btn{
    visibility: hidden;
}

.arrival_discount:hover .discount_btn{
    visibility: visible;
}

.cart_btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.discount_text:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
 








@media(max-width:769px) {}


@media(max-width:375px) {

    .arrival_img {
        position: relative;
        max-width: 262px;
    }

}

@media(max-width:320px) {

    .shipping_text_bar {
        display: flex;
        align-items: center;
        padding: 20px 16px;
    }

    .arrival_article_bar {
        display: flex;
        flex-direction: column;
    }

    .arrival_show_bar {
        display: flex;
        flex-direction: column;
        gap: 27px;
        padding: 40px 0 80px 0;
    }


}