.check_out_section {
    display: flex;
    /* justify-content: space-between; */
    gap: 64px;
}

.check_out_heading {
    padding: 0 0 40px;
}

.about-order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order_through {
    display: flex;
    color: grey;
    gap: 32px;
    padding: 0 0 80px;
}

.check_out_right {
    max-width: 643px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.check_out_left {
    max-width: 413px;
    width: 100%;
}

.contact_info_heading {
    padding: 0 0 12px;
}

.about_input_info {
    padding: 12px 0 12px;
}

.common_checkout {
    border-radius: 6px;
    border-color: #6C7275;
    border-collapse: collapse;
    width: 285px;
}

.about_shipping1 {
    padding: 40px 24px;
    border: 1px solid black;
    border-radius: 4px;
}

.about_shipping2 {
    padding: 40px 24px;
    border: 1px solid black;
    border-radius: 4px;
}

.about_shipping3 {
    padding: 40px 24px;
    border: 1px solid black;
    border-radius: 4px;
}

.first_last_name {
    display: flex;
    justify-content: space-between;

}

.payment_methode {
    border: 1px solid grey;
    border-radius: 6px;
}

.pay_methode {
    padding: 10px 0;
}
.payment_type{
display: flex;
flex-direction: column;
gap: 24px;
}

.common_checkout_long {
    max-width: 595px;
    width: 100%;
    padding: 5px;
}

.about_shipping_left {
    padding: 40px 24px;
    border: 1px solid black;
    border-radius: 4px;
}

.tables {
    max-width: 80px;
    width: 100%;
}
.sub_add_btn{
    border-style: none;
    background-color: #fff;
}
.img_lemp_section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.pri{
    padding:0 0 0 100px;
}
.cart_product{
    display: flex;
    border: 1px solid grey;
    border-radius: 4px;
    justify-content: space-between;
    padding:3px 8px ;
}

.order_discount {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.apply_section {
    display: flex;
    gap: 10px;
    padding:24px 0 16px;
}

.input_section {
    max-width: 258px;
    width: 100%;

}

.input_info {
    padding: 12px 26px;
}

.apply_btn {
    max-width: 95px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 12px 26px;
    border-radius: 8px;
}

.order_total {
    display: flex;
    justify-content: space-between;
}

.price_discount {
    color: #38CB89;
    padding: 0px;
}

.l {
    display: flex;
    gap: 16px;
}

.order_details {
    display: flex;
    gap: 7px;
    align-items: center;
}
.shipping{
    white-space: nowrap;
}

.shipping:hover {
    /* white-space: nowrap; */
    color: #38CB89;
    text-decoration: underline;
}
.check_out_info{
    white-space: nowrap;
}
.check_out_info:hover {
    display: flex;
    color: #23262F;
    text-decoration: underline;
    /* white-space: nowrap; */
}
.order_complete{
    white-space: nowrap;
}

.order_complete:hover {
    display: flex;
    color: #B1B5C3;
    text-decoration: underline;
    white-space: nowrap;
}

.checked {
    display: flex;
    max-width: 42px ;
    width: 100%;
    height: 42px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    background-color: #38CB89;
    border-color: none;
    color: white;
    text-align: center;
    padding: 13px;
}

.checkeout_deatils {
    /* white-space: nowrap; */
    display: flex;
    max-width: 42px ;
    width: 100%;
    height: 42px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    border-color: none;
    color: white;
    text-align: center;
    padding: 13px;
    background-color: #23262F;
}

.order_info {
    display: flex;
    max-width: 42px ;
    width: 100%;
    height: 42px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    border-color: none;
    color: white;
    text-align: center;
    padding: 13px;
    background-color: #B1B5C3;
    
}
.place_order_btn{
    padding: 24px 0;
}
.place_order{
    background-color: black;
    color: white;
    max-width: 643px;
    width: 100%;
    padding: 12px 40px;
    border-radius: 8px;
}

/* responsive Page start */
@media(max-width:375px){
    
}



/* responsive Page End */