 .footer_image_section{
  display: flex;
  align-items: center;
  justify-content: center;
 }                   */

.footer_back_img{
position: relative;
}

.footer_signup_section {
  position: absolute;
  display: flex;
  flex-direction: column; 
  gap: 32px;   
  z-index: 1;
}

.signup_bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.signup_bar img {
  max-width: 24px;
  max-height: 24px;
}

.search_section {
  max-width: 396px;
  width: 100%;
  border: none;
  background-color: #E8ECEF;
}

.footer_signup_text {
  border: none;
  color: #6C7275;
  ;
}

/* footer bottom section */


.footer_back_section {
  background-color: #141718;
  padding: 80px 0 30px 0;

}

.footer_bottom_text_bar {
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.footer_menu_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer_icon {
  display: flex;
  gap: 32px;
  align-items: center;
  color: white;
}

.footer_menu_text {
  display: flex;
  gap: 40px;
}

.footer_bottom_section {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 16px 0;
  color: white;
}

.footer_term_section {
  display: flex;
  gap: 28px;
}

.footer_icon_section {
  display: flex;
  gap: 24px;
}