.background_header{
    background-color: #F3F5F7;
    max-height: 40px;
    width: 100%;
}
.header_text_bar{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 8px 0;
}
.ticket_percent{
  max-width: 24px;
  max-height: 20px;
}
.header_icon_section img{
  max-width: 24px;
  max-height: 20px;
}
.menu_bar_section{
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.menu_text_bar{
  display: flex;
  gap: 40px;
  align-items: center;
}

.header_icon_section{
display: flex;
gap: 16px;
align-items: center;
}