.main-shop-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-shop-text{
  display: flex;
  flex-direction: column;
  position: absolute;

text-align: center;
  z-index: 1;
  gap: 16px;
}
.shop-center-text{
  display: flex;
  gap: 16px;
  justify-content: center;
}
.home-text{
  display: flex;
  
  gap: 10px;
  justify-content: center;
  
}
.img-section{
  position: relative;
}
.center-icon{
  max-width: 12px;
}
.mb-shop{
  display: none;
}
@media (max-width:375px) {
  .main-shop{
    display: none;
  }
  .mb-shop{
    display: block;
  }

  .main-shop-text{
    max-width: 311px;
    width: 100%;
  }
  
}
@media (max-width:425px){
  .main-shop{
    height: 250px;
  }
}