.main-section{
    display: flex; 
    gap: 50px;
     
}

.rigth-section{
    display: flex;
    justify-content: center;
    max-height: 400px;
    height: 100%;
         
}
.main-text{
    position: absolute;
    padding: 25px 0 0 0;
    z-index: 1;
    
}
.img-signup{
    position: relative;
  
}
.left-section{
   
     
     
    /* JUSTIFY-CONTENT: center; */
}
.signupbtn{
    max-width: 354px;
    width: 100%;
    background-color: black;
    color: white;
}
.signupbtn:hover{
    background-color: white;
    color: black;
}
.text-left-section{
    
    display: flex;
    flex-direction: column;
    max-width: 456px;
    width: 100%;  
    gap: 24px;
   
   
}
.form-section{
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* padding-top: 25px; */
     
}
.in-text{
    color: #38CB89;
    padding-left: 10px;
}
.in-text:hover{
    color: black;
}
.signup-info{
    color: #CCC;
}
.checkbox{
    display: flex;
    gap: 8px;
}
.sign-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.input-text{
    outline: none;
        border: 0px solid;
        max-width: 250px;
        width: 100%;
        color: #CCC;

}
.icon-img{
    max-width: 25px;
}

