.main-section{
    display: flex; 
    
     
}

.rigth-section{
    display: flex;
    justify-content: center;
    /* max-height: 400px;
    height: 100%; */
         
}
.main-text{
    position: absolute;
    padding: 25px 0 0 0;
    z-index: 1;
    
}
.img-signup{
    position: relative;
    max-width: 736px;
    height: 100%;
  
}
.left-section{
    padding-top: 45px;

}
.signupbtn{
    max-width: 384px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 15px;
}
.signupbtn:hover{
    background-color: white;
    color: black;
}
.text-left-section{
    
    display: flex;
    flex-direction: column;
    max-width: 736px;
    padding-top: 68px;
    padding-left: 50px;
    width: 100%;  
    gap: 24px;
   
   
}
.form-section{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 375px;

     
}
.in-text{
    color: #38CB89;
    padding-left: 10px;
}
.in-text:hover{
    color: black;
}
.signup-info{
    color: #CCC;
}
.checkbox{
    display: flex;
    gap: 8px;
}
.sign-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.input-text{
    outline: none;
        border: 0px solid;
        max-width: 250px;
        width: 100%;
        color: #CCC;

}
.icon-img{
    max-width: 25px;
}


@media (max-width:375px){
    .main-section{
        display: flex;
        flex-direction: column;
    }
    .img-signup{
        max-width: 375px;
        height: 430px;
        width: 100%;
    }
    .text-left-section{
        padding-left:  15px;
        padding-top:40px;
        max-width: 311px;
    }
    .checkbox{
        gap: 5px;
        white-space: nowrap;
        
    }
    
    

}
@media (max-width:320px){
    .main-section {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:425px){
    .signin-main-section{
        display: flex;
        flex-direction: column;
    }
    .signin-section-left{
        padding-top: 50px;
    }
}
