.signin-main-section {
    display: flex;
    
}

.sigin_image {
    position: relative;
    max-width: 736px;
    height: 100%;
    
}

.signin-rigth-section {
    display: flex;
    justify-content: center;
}

.signin-main-text {
    padding: 25px 0 0 0;
    z-index: 1;
    position: absolute;
}

.signin-left-section {
    border: 1PX SOLID white;
    display: flex;
    flex-direction: column;
    max-width: 575PX;
    width: 100%;
}

.signin-btn {
    max-width: 446px;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid black;
}
.signin-btn:hover{
    background-color: white;
    color: black;
}
.text-colur{
    color: #38CB89;
    
    padding-left: 10px;
}
.text-colur:hover{
    color: black;
}
.dont-color{
    color: #6C7275;
    ;
}
.signin-section-left {

    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 205px;
    padding-left: 45px;
    padding-right: 85px;
}

.signin-bottom-section {
    display: flex;
    flex-direction: column;
    gap: 32px
}

.signin-text {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.input-signin {
    outline: none;
    border: 0px solid;
    max-width: 250px;
    width: 100%;
    color: #CCC;
}

.remember {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.text-remember {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #CCC;
}


@media (max-width:375px){
    .signin-main-section{
        display: flex;
        flex-direction: column;
    }
    .signin-section-left{
    padding-left: 15px;
    padding-top: 40px;
    padding-right: 0px;
    max-width: 311px;    
    }
    .sigin_image{
        height: 430px;
    }

}